<h1>Shelters</h1>


<%= link_to 'New Shelter', '/shelters/new' %>

<ul>
  <% @shelters.each do |shelter| %>
    <li>
      <%= shelter.name %>
      <%= link_to 'edit', "/shelters/#{shelter.id}/edit", id: "#{shelter.id}" %>
    </li>
  <% end %>
</ul>

